.feature-card7-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card7-icon {
  width: 5rem;
  height: 5rem;
}
.feature-card7-text {
  font-style: normal;
  font-weight: 800;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card7-text1 {
  color: #040404;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}
.feature-card7-past-work {
  width: 4.5em;
  height: 2em;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  user-select: none;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  text-transform: capitalize;
}
.feature-card7-past-work:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .feature-card7-text {
    font-style: normal;
    font-weight: 600;
  }
}
