.testimonial-card4-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-card4-testimonial-card:hover {
  transform: translateX(2%);
  box-shadow: 20.5px 10px 10px 2px rgba(0, 0, 0,0.85);
}
.testimonial-card4-icon {
  width: 4rem;
  height: auto;
  margin-top: var(--dl-space-space-fourunits);
  user-select: none;
  margin-right: 85%;
}
.testimonial-card4-text {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card4-profile {
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.testimonial-card4-image {
  width: var(--dl-size-size-medium);
  filter: grayscale;
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card4-container {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card4-text1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.testimonial-card4-text2 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

@media(max-width: 991px) {
  .testimonial-card4-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .testimonial-card4-image {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .testimonial-card4-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .testimonial-card4-profile {
    justify-content: center;
  }
}
