.testimonial-card1-testimonial-card {
  width: 350px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-testimonial-card:hover {
  transform: translateY(-2%);
  box-shadow: 20.5px 10px 10px 2px rgba(0, 0, 0, 0.85);
}
.testimonial-card1-testimonial {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-text {
  font-size: 1.5em;
  user-select: none;
}
.testimonial-card1-icon {
  width: 2rem;
  height: auto;
  margin-top: 8%;
  user-select: none;
  margin-right: 85%;
}
.testimonial-card1-text1 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  user-select: none;
}
.testimonial-card1-icon2 {
  width: 2rem;
  height: auto;
  margin-left: 85%;
  user-select: none;
  margin-bottom: 4%;
}
.testimonial-card1-text2 {
  font-size: 1.5rem;
  font-weight: 300;
  user-select: none;
  margin-bottom: 0.75%;
}
.testimonial-card1-text3 {
  color: transparent;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
  margin-bottom: 0.75%;
}
.testimonial-card1-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.testimonial-card1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  box-shadow: -5px 5px 10px 2px #969696;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.testimonial-card1-root-class-name {
  width: 350px;
  height: 100%;
}
.testimonial-card1-root-class-name2 {
  width: 350px;
}
@media (max-width: 991px) {
  .testimonial-card1-testimonial-card {
    padding: var(--dl-space-space-twounits);
  }
  .testimonial-card1-icon {
    margin-top: 2%;
  }
  .testimonial-card1-text1 {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .testimonial-card1-icon2 {
    margin-bottom: 8%;
  }
  .testimonial-card1-text2 {
    margin-top: 2.5%;
  }
  .testimonial-card1-text4 {
    align-self: center;
  }
  .testimonial-card1-image {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .testimonial-card1-root-class-name {
    width: 300px;
    height: 100%;
  }
  .testimonial-card1-root-class-name2 {
    width: 300px;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .testimonial-card1-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media (max-width: 479px) {
  .testimonial-card1-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-text1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-text2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card1-text3 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card1-text4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card1-image {
    width: 250px;
    height: 250px;
  }
}
